
<!--
   Angular expressions do not have access to global variables like window, document or location.
   This restriction is intentional. It prevents accidental access to the global state – a common source of subtle bugs.
   Instead use services like $window and $location in functions called from expressions.
   Such services provide mockable access to globals.
-->

<!doctype html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>

<body ng-app="expressionExample">
<div class="example2" ng-controller="ExampleController">
    Name: <input ng-model="name" type="text"/>
    <button ng-click="greet()">Greet</button>
    <button ng-click="window.alert('Should not see me')">Won't greet</button>

</div>
<script>
      angular.module('expressionExample', [])
            .controller('ExampleController', ['$window', '$scope', function($window, $scope) {
                $scope.name = 'World';

                $scope.greet = function() {


                      $window.alert('Hello ' + $scope.name);
                };
            }]);

</script>
</body>
</html>